#amenityFilter {
    position: relative;
    min-height: 280px;
}

#amenityFilter .amenity-list {
    width: 100%;
    display: flex;
    gap: .6rem;
    background-color: #fff;
    border-radius: 8px;
    flex-wrap: wrap;
    padding-top: 1em;
    padding-bottom: 1em;
    position: absolute;
    top: -1.5em;
    justify-content: space-around;
    box-shadow: 5px 5px 10px rgba(0,0,0,.2), 0px 0px 1px rgba(0,0,0,.1)
}

#amenityFilter .amenity-list .amenity {
    height: 2em;
}