.cg-amenities {
    flex: 1;
}

.cg-amenities .amenity-list {

}

.cg-available-amenities{
    display: flex;
    flex-wrap: wrap;
    gap: .3em .8em;
    align-items: center;
}

.cg-available-amenities .amenity-icon {
   width: 4em;
    flex: 1 1 2em;
    flex-grow: unset;
}