button {
    font-family: var(--secondary-font);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: .5em;
}

button.btn {
    align-items: center;
    appearance: none;
    background-color: var(--medium-yellow);
    border-width: 0;
    box-sizing: border-box;
    color: var(--dark-green);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding: 1em 1.4em;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 1em;
    border-radius: 50px;
}
    
button.btn:focus {
    box-shadow: var(light-gray) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(light-gray) 0 -3px 0 inset;
}

button.btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--dark-gray) 0 -3px 0 inset;
    transform: translateY(4px);
}

button.btn:active {
    box-shadow: var(light-gray) 0 3px 7px inset;
    transform: translateY(2px);
}

button.btn-secondary {
    background-color: var(--teal);
    color: var(--dark-green);
    border: none;
    font-size: .8em;
    font-weight: 700;
    padding: 1.2em 1.6em;
}

button.simple-btn {
    border: 1px solid #fff;
    color: #fff;
    width: fit-content;
    padding: 1em 1.6em;
    transition: .3s all ease-in-out;
}

button.simple-btn:hover {
    background-color: #fff;
    color: var(--light-yellow);
}