button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: .5em;
}

button.btn {
    font-family: var(--main-font);
    align-items: center;
    appearance: none;
    background-color: var(--light-gray);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,var(--medium-gray) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 1em;
}
    
button.btn:focus {
    box-shadow: var(light-gray) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(light-gray) 0 -3px 0 inset;
}

button.btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--dark-gray) 0 -3px 0 inset;
    transform: translateY(4px);
}

button.btn:active {
    box-shadow: var(light-gray) 0 3px 7px inset;
    transform: translateY(2px);
}

button.simple-btn {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: .6em;
}