.camp-photos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
}
    
    .featured-photo {
        grid-area: 1 / 1 / 3 / 4;
        background-color: var(--charcoal);
    }
    .photo-1 {
        grid-area: 1 / 4 / 2 / 5;
        background-color: var(--light-green);
    }
    .photo-2 {
        grid-area: 1 / 5 / 2 / 6;
        background-color: var(--light-green);
    }
    .photo-3 {
        grid-area: 2 / 4 / 3 / 5;
        background-color: var(--light-green);
    }
    .photo-4 {
        grid-area: 2 / 5 / 3 / 6;
        background-color: var(--light-green);
    }
    