#campPhotos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    margin-bottom: 1.6em;
}

#campPhotos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    
.photo-1 {
    grid-area: 1 / 1 / 3 / 3;
    border-radius: 10px;
    background-color: var(--light-green);
    max-height: 500px;
}
.photo-2 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: var(--light-green);
    border: none;
}
.photo-3 {
    grid-area: 1 / 4 / 2 / 5;
    background-color: var(--light-green);
}
.photo-4 {
    grid-area: 2 / 3 / 3 / 4;
    background-color: var(--light-green);
}
.photo-5 {
    grid-area: 2 / 4 / 3 / 5;
    background-color: var(--light-green);
}

.empty-photo:first-of-type::before {
    font: var(--fa-font-solid);
    content: ' \f575';
}

@media (max-width: 700px) {
    
    .photo-1 {
        grid-area: 1 / 3 / 3 / 4;
        max-height: 200px;
    }
}