.card {
    display: flex;
    flex-direction: column;
    background: #fff;
    transition: all .2s ease-in-out;
    height: 100%;
    color: var(--dark-green);
}

.card-img {
    width: 100%;
  }

.card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    z-index: 2;
    border: .5px solid #D6D6D6;
}

.card img.card-feature {
    width: 100%;
    height: 225px;
    object-fit: cover;
    object-position: center;
}

.card .swiper {
    height: 100%;
}

.card .image-carousel .swiper-button-prev,
.card .image-carousel .swiper-button-next {
    color: var(--carcoal)!important;
    top: 0;
}

.card .image-carousel .swiper-button-prev::after,
.card .image-carousel .swiper-button-next::after {
    width: 2rem;
    height: 2rem;
}

.card .swiper-pagination-bullet {
    background: var(--light-gray);
    height: .6em;
    width: .6em;
    opacity: 1;
}

.card .swiper-pagination-bullet-active {
    background: var(--light-yellow);
}

.card .swiper-button-prev.swiper-button-disabled,
.card .swiper-button-next.swiper-button-disabled {
    display: none;
}

.card-header {
    padding: 1.5em;
}

.card .name {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.25em;
    font-weight: 700;
    text-align: center;
}

.card .location {
    text-align: center;
}

.card-details {
    display: inline-flex;
    gap: 2px;
    width: 100%;
    justify-content: space-between;
    margin-top: auto;
    overflow: hidden;
}

.card-reviews,
.card-price,
.card-favs {
    flex: 1;
    background-color: #F9F9F9;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-num,
.price-num,
.favs-num {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--medium-green);
}

.card-link {
    background-color: #36454F;
    color: #fff;
    padding: 1em;
    text-align: center;
}