.cg-header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: .8em 0;
}

.cg-interactions {
    display: inline-flex;
    gap: 1.2em;
   align-items: center;
}

.cg-interactions a.share {
    font-size: 1.2em;
    color: var(--charcoal);
}

.cg-interactions .favorite {
    font-size: 1.2em;
    color: var(--pink);
    transition: all .2s ease-in-out;
    animation: pulse 1s 10;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2); /* Adjust the scale factor for a bigger/smaller pulse */
    }
    100% {
      transform: scale(1);
    }
  }

.cg-interact a.favorite:hover {
    scale: 1.4;
}

.cg-details {
     display: flex;
     gap: 3em;
     padding-bottom: 5rem; 
}

.cg-details-l {
    width: 70%;
}

.cg-description {
    margin-bottom: 3em;
}

.cg-icons {
    display: flex;
    justify-content: space-between;
    gap: 3em;
    margin-bottom: 3em;
}

.cg-amenities,
.cg-activities {
    flex: 50%;
}

.cg-available-amenities {
    display: flex;
    gap: 1em;
}

.cg-amenities .amenity-icon,
.cg-activities .amenity-icon {
    width: 2em;
}

.cg-details-r {
    width: 30%;
}