.page-header.tips {
    background-image: linear-gradient(20deg, rgb(8, 174, 234) 0%, rgb(42, 245, 152) 100%);
    text-align: center;
    padding: 10em;
    border-radius: 0 0 0 10em;
}

.page-header.tips h1 {
    color: #fff;
}