.card-grid-wrap {
    padding: 2em 0;
    margin: 3rem 0;
}

#cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.6em;
    position: relative;
}