.card {
    display: flex;
    flex-direction: column;
    border-radius: .8em;
    background: #ffffff;
    transition: all .2s ease-in-out;
    box-shadow:  14px 14px 28px #e3e3e3,
                 -14px -14px 28px #ffffff;
    height: 100%;
    color: var(--charcoal);
}

.card:hover {
    box-shadow:  0px 0px 24px #d3d3d3,
                 -7px -7px 28px #ffffff;
}

.card-top {
    flex: 1;
}

.card-content {
    flex: 1;
    padding: 1em 1.4em;
    text-align: center;
}

.card-content a {
    text-decoration: none;
    color: var(--charcoal);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

.card img.card-feature {
    width: 100%;
    border-radius: .8em .8em 0 0;
    height: 11rem;
    object-fit: cover;
    object-position: center;
}

.card .image-carousel .swiper-button-prev,
.card .image-carousel .swiper-button-next {
    color: var(--carcoal)!important;
    top: 0;
}

.card .image-carousel .swiper-button-prev::after,
.card .image-carousel .swiper-button-next::after {
    width: 2rem;
    height: 2rem;
}

.card .swiper-pagination-bullet {
    background: var(--light-gray);
    height: .6em;
    width: .6em;
    opacity: 1;
}

.card .swiper-pagination-bullet-active {
    background: var(--pink);
}

.card .swiper-button-prev.swiper-button-disabled,
.card .swiper-button-next.swiper-button-disabled {
    display: none;
}

.card .category {
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 500;
    margin-bottom: .3em;
    display: block;
    color: var(--medium-green)
}

.card .name {
    display: block;
    font-size: 1.2em;
    line-height: 1.25em;
    font-weight: 700;
}

.card-icon {
    color: var(--medium-green)
}

.card .rating .star path {
    fill: var(--medium-green);
}

.card .price {

}

.card-footer {
    font-size: 1.1em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
}