.carousel-container {
    overflow: hidden;
  }
  
  .card-grid-wrap {
    display: flex;
    transition: transform 0.5s ease; /* Adjust based on your needs */
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.campCard {
    flex: 0 0 auto;
    margin-right: 16px; /* Space between cards */
}

.card-grid-wrap .swiper {
    padding: 4em;
    position: relative;
}

.card-top .swiper {
    padding: 0;
}      


.swiper .swiper-button-prev, .swiper .swiper-rtl .swiper-button-next {
    left: 0;
    right: auto;
    padding: 0 var(--swiper-navigation-sides-offset, 30px);
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.swiper .swiper-button-next, .swiper .swiper-rtl .swiper-button-prev {
    right: 0;
    left: auto;
    padding: 0 var(--swiper-navigation-sides-offset, 30px);
    background: rgb(255,255,255);
    background: linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);   
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: var(--pink);
    height: 100%;
    top: 0;
}