.carousel-container {
    overflow: hidden;
  }
  
.carousel-grid-wrap {
    display: flex;
    transition: transform 0.5s ease; /* Adjust based on your needs */
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.campCard {
    flex: 0 0 auto;
    margin-right: 16px; /* Space between cards */
}

.carousel-grid-wrap .swiper {
    position: relative;
    width: 100%;
}

.card-top .swiper {
    padding: 0;
}      

.camp-carousel .swiper-button-prev {
    left: 0
}

.camp-carousel .swiper-button-next  {
    right: 0
}

div:not(.card) .camp-carousel .swiper-button-prev,
div:not(.card) .camp-carousel .swiper-button-next {
    height: 100%;
    top: 0;
    margin: 0;
    width: 50px;
}

.camp-carousel .swiper-button-prev::after,
.camp-carousel .swiper-button-next::after
{
    width: 30px;
    height: 30px;
    background-color: var(--white);
    opacity: .7;
    color: var(--dark-green);
    border-radius: 50%;
    font-size: .8em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}