.form-card {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4em;
    border-radius: 10px;
}

.form-card h1 {
    margin-bottom: 3em;
}