header {
    height: var(--header-height);
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--light-gray);
    position: relative;
    z-index: 1;
}

header.header-home {
    border: none;
}