header {
    background-color: var(--dark-green);
    height: var(--header-height);
    width: 100%;
    display: flex;
    position: relative;
    z-index: 1;
}

header.header-home {
    border: none;
    background-color: transparent;
}