#loader {
  width: 100%;
  text-align: center;
}

.loader-wrap {
    display: inline-block;
    position: relative;
    text-align: center;
    height: 80px;
    width: auto;
    margin: 0 auto;
  }
  .loader-wrap  div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--light-yellow);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .loader-wrap  .ball-1 {
    left: 8px;
    animation: loader1 0.6s infinite;
  }
  .loader-wrap  .ball-2 {
    left: 8px;
    animation: loader2 0.6s infinite;
  }
  .loader-wrap  .ball-3 {
    left: 32px;
    animation: loader2 0.6s infinite;
  }
  .loader-wrap  .ball-4 {
    left: 56px;
    animation: loader3 0.6s infinite;
  }
  @keyframes loader1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes loader3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes loader2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }