#marquee {
    background-image: url('../assets/images/marquee-bg2.webp');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 80vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: calc(var(--header-height) * -1);
    position: relative;
}

#marquee::before {
    content: "";
    width: 100%;
    background-color: var(--charcoal);
    min-height: 80vh;
    position: absolute;
    opacity: .7;
}

#mainTag {
    font-family: var(--secondary-font);
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    position: relative;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 1);
    z-index: 1;
}

#secondaryTag {
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    position: relative;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 1);
    z-index: 1;
}

#campSearch {
    position: relative;
    z-index: 2;
}