.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.navbar li {
    padding: 0 15px;
}
.navbar a {
    text-decoration: none;
    color: #262626;
    font-weight: bold;
}
.navbar a:hover {
    text-decoration: underline;
}