.review-grid {
    margin-top: 2em;
}

.reviews {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em 0;
}

.review {
    flex: 1;
}

.review-header {
    display: flex;
    gap: 1em;
}

.user-tn img{
    width: 75px;
    border-radius: 50%;
}

.user-details {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.user-name {
    font-size: 1em;
    font-weight: 600;
}

.user-location {
    min-height: 1.4em;
    font-size: .9em;
}

.user-review {
    width: 18ch;
    word-break: break-all;
}

.user-review::after {
content: "Full Review";
}

.user-review p {
    line-height: 1.5em;
}
    
.timestamp {
    font-size: .8em;
}