.review {
    flex: 1 400px;
}

.review-header {
    display: flex;
    gap: 1em;
}

.user-tn img{
    width: 75px;
}

.user-details {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.user-name {
    font-size: 1em;
    font-weight: 600;
}

.user-location {
    font-size: .9em;
}

.user-review {
    display: flex;
    gap: .3em;
}

.timestamp {
    font-size: .8em;
}