#campSearch {
    min-width: 300px;
    max-width: 500px;
    width: 100%;
  }

#search {
    background-color: #fff;
    border-radius: 50px;
    margin: 1.4em 0;
    display: flex;
}

#search input {
    flex: 1 1;
    border: none;
    border-radius: 50px 0 0 50px;
    padding: .8em 1.5em;
    font-family: var(--main-font);
    font-size: .9em;
}

.search-btn {
    background-color: var(--medium-yellow);
    color: var(--dark-green);
    border-radius: 0 50px 50px 0;
    font-weight: 600;
    box-shadow: none;
    padding: 0 1.5em;
}