#campSubmit {
    background-color: var(--charcoal);
    color: #fff;
}

#campSubmit h1 {
    color: #fff;
    margin-bottom: 1.6em;
}

.cg-submit-wrap {
    display: flex;
    gap: 5rem;
}

.cg-submit-l {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.tmbr-icon {
    display: block;
    max-width: 200px;
    margin: 0 auto 3em;
}

.cg-submit-r {
    flex: 50%;
}

.campground-form {
    width: 100%;
    margin: 0 auto;
    padding: 1.3em;
    background-color: transparent;
    border-radius: 8px;
}



.icon-group {
    display: flex;
    gap: .6rem;
    flex-wrap: wrap;
    justify-content: space-betweens;
    align-items: center;
}

.light-note {
    font-size: .8em;
    font-weight: 400;
    text-transform: none;
    color: var(--light-gray);
}

.icon {
    width: 2.2em;
    cursor: pointer;
}

.icon path,
.icon circle,
.icon ellipse {
    opacity: .1;
    fill: #fff;;
}

.icon:hover path,
.icon:hover circle,
.icon:hover ellipse {
    opacity: 1;
    fill: var(--pink);
}

.icon.selected path,
.icon.selected circle,
.icon.selected ellipse {
    opacity: 1;
}

.horizontal-slider {
    width: 100%;
    height: 35px;
}

.thumb {
    height: 25px;
    line-height: 25px;
    width: 25px;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    cursor: grab;
}

.track {
    background: #ddd;
    height: 5px;
}