#userProfile {
    display: flex;
    gap: 3rem;
}

.user-info {
    flex: 4;
    position: relative;
}

.btn.edit-profile {
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and ( width < 992px ) {
    #userProfile {
        flex-direction: column;
    }
} 