*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 300;
  color: var(--charcoal);
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .8rem 0;
}

h1 {
  font-family: var(--secondary-font);
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--charcoal);
}

h2 {
  font-family: var(--secondary-font);
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--charcoal);
}

h3 {
  font-family: var(--primary-font);
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--medium-green);
}

h4 {
  font-family: var(--secondary-font);
  font-size: .9rem;
  font-weight: 500;
  color: rgba(255, 255, 255, .4);
}

p {
  line-height: 1.7rem;
  margin-bottom: 1.2rem;
}

a {
  text-decoration: none;
  transition: all .3s ease-in-out;
}

hr {
  border-top: 1px solid var(--light-gray);
  border-bottom: none;
  margin: 3rem 0;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}

.page-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem var(--side-padding);
}

.container-sm {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--side-padding); 
  padding-right: var(--side-padding); 
}

.container-fw {
  padding: 3rem var(--side-padding);
}

.full-height {
  height: 100vh;
  background-color: var(--beige);
  justify-content: center;
  align-items: center;
  display: flex;
}

.tmbr-ref {
  color: var(--pink);
  font-family: var(--secondary-font);
  font-weight: 500;
}

.dol {
  font-size: .7em;
  position: relative;
  top:  -0.4em; 
}

.sml {
  font-size: .8rem;
}